@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  padding: 16px;

  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  width: 1024px;
}

.header-logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

.header-link {
  display: flex;
  margin-left: auto;
}

.header-link ul {
  font-size: 18px;
  color: #e5e7eb;
  list-style-type: none;

  padding: 0;
  margin: 0;
  display: flex;
  gap: 22px;
}
