@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
}
