@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

/* Main content */
main {
  display: flex;
  flex-direction: column;
}

q::before,
q::after {
  content: "";
}

button {
  font-family: Roboto, sans-serif;
  background-color: #3882f6;
  padding: 8px 36px;
  border-radius: 8px;
  border: none;
}

.header,
.hero {
  background-color: #1f2937;
  padding: 16px;

  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;

  max-width: 1024px;
  width: 100%;
}

/* Header */
.header-logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

.header-links {
  display: flex;
  margin-left: auto;
}

.header-links ul {
  list-style-type: none;

  padding: 0;
  margin: 0;
  display: flex;
  gap: 22px;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* Hero section */
.hero {
  padding-top: 80px;
  padding-bottom: 100px;
}

.hero .wrapper {
  justify-content: space-between;
  gap: 55px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 450px;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-subtitle {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button button {
  color: #f9faf8;
  font-weight: 600;
  font-size: 16px;

  margin-top: 12px;
}

.hero-image {
  display: flex;
  margin-left: auto;
}

.hero-image img {
  width: 500px;
}

/* Information section */
.info-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section .wrapper {
  flex-direction: column;
  gap: 40px;
  margin-bottom: 70px;
}

.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-image {
  display: flex;
  border: 4px solid #3882f6;
  border-radius: 20px;
  width: 168px;
  height: 168px;
}

.info-text {
  justify-content: center;
  align-items: center;
  width: 180px;

  text-align: center;
  padding: 8px;
  font-size: 18px;
  color: gray;
}

/* Quote section*/
.quote-section {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e5e7eb;
}

.quote-section .wrapper {
  flex-direction: column;
  align-items: center;
  flex: 0 1 800px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  align-self: flex-end;

  font-size: 22px;
  font-weight: 600;
  margin-right: 30px;
}

/* "Call to action" section */
.cta {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 1 auto;

  background-color: #3882f6;
  border-radius: 8px;
  padding: 50px 120px;
}

.cta-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;

  color: #f9faf8;
}

.cta-title {
  font-size: 22px;
}

.cta-button {
  border: 3px solid #f9faf8;
  color: #f9faf8;
  font-weight: 600;
  font-size: 16px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1f2937;
  font-size: 18px;
  color: #f9faf8;
  padding: 40px 0;
}
